@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

 /* Set the size of the div element that contains the map */
#map {
    position: absolute;
    height: 83%;
    width: 100%;
    border:1px solid black;
    /* The width is the width of the web page */
}

.header {
    min-height: 60px !important;
    background: linear-gradient(90deg, rgba(255,241,130,1) 0%, rgba(255,199,122,1) 35%, rgba(255,178,84,1) 100%);
}

.header .map-title {
    padding-top: 10px;
    margin: 0;
    font-size: 35px;
    font-family: Asap;
    text-align: center;
    font-weight: normal;
}

footer {
    background: linear-gradient(90deg, rgba(255,241,130,1) 0%, rgba(255,199,122,1) 35%, rgba(255,178,84,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7%;
    border-top: 2px solid black;
    text-align: center;
}

.confirmed {
    font-size: 17px;
    font-family: Asap;
    font-weight: bold;
    float: left;
    width: 20%;
    text-align: left;
    display: inline-block;
    padding-top: 14px;
    padding-left: 50px;
}

.deceased {
    font-size: 17px;
    font-family: Asap;
    font-weight: bold;
    float: center;
    width: 20%;
    text-align: center;
    display: inline-block;
    padding-top: 14px;
}

.hospitalized {
    font-size: 17px;
    font-family: Asap;
    font-weight: bold;
    float: right;
    width: 20%;
    text-align: right;
    display: inline-block;
    padding-top: 14px;
    padding-right: 50px;
}

.progress-bar {
    position: relative;
    width: 300px;
    height: 20px;
    border: 1px solid #000;
    margin-left: 100px;
    top: -18px;
    background: #ffde92;
}

#barText {
    font-size: 14px;
    font-family: Asap;
    margin-top: -37px;
    margin-left: 60px;
    font-weight: bold;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background: orange;
    transition: width 0.5s;
}

.progress-bar-value {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-text: center;
    justify-content: center;
    text-weight: bold;
}

